doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,500', rel='stylesheet', type='text/css')
  body
    .logoHolder
      h1 Don't Shoot PDX
    nav
      .horizontalLine
      .topLinks
        .link.first
          a(href='/') Home
        .link
          a(href='/about') About us
        .link
          a(href='/blog') Blog
        .link
          a(href='/upcoming') Upcoming events

    .content
      block content

    .footer
      .images
        a(href='https://www.facebook.com/DontShootPDX/')
          img(src="/images/facebook-icon-black.png")

        a(href='https://twitter.com/dontshootpdx')
          img(src="/images/twitter-icon-black.png")

        a(href='http://dontshootpdx.tumblr.com/')
          img(src="/images/Tumblr.png")